body {
   background-color: lightblue;
   color: black;
}

#symbol-select {
   text-align: center;
   display: inline;
   white-space: nowrap;
}

#symbol-select input {
   height: 120px;
   width: 120px;
   font-size: 72px;
   background: lightblue;
   border: none;
}

#tictactoe-board {
   margin-top: 50px;
   width: 50%;
   text-align: center;
   display: none;
   white-space:nowrap;
}

#tictactoe-board .center-row {
   border-top: 10px solid black;
   border-bottom: 10px solid black;
}

#tictactoe-board .center-column {
   border-left: 10px solid black;
   border-right: 10px solid black;
}

#game-results {
   text-align: center;
   display: none;
}

#winning-player {
   font-size: 60px;
}

#tictactoe-board input {
   height: 80px;
   width: 80px;
   background: lightblue;
   border: none;
   font-size: 48px;
}

#tictactoe-board input:focus {
   outline: none;
}

#play-again {
   font-size: 24px;
   width: 200px;
   background: grey;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: black;
   text-align: center;
   color: lightblue;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: lightblue;
	font-size: 32px;
	padding: 20px;
}   