body {
   background-color: white;
   color: black;
}

#tictactoe-board {
   margin-top: 50px;
   width: 50%;
   text-align: center;
   display: inline;
}

.center-row {
   border-top: 10px solid black;
   border-bottom: 10px solid black;
}

.center-column {
   border-left: 10px solid black;
   border-right: 10px solid black;
}

#game-results {
   text-align: center;
   display: none;
}

#winning-player {
   font-size: 128px;
}

input {
   height: 100px;
   width: 100px;
   background: white;
   border: none;
}

input:focus {
   outline: none;
}

#middle-left, #middle-center, #middle-right {

}

#top-center, #middle-center, #bottom-center {

}

#top-left, #middle-left, #bottom-left {

}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: white;
   text-align: center;
   color: black;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: black;
	font-size: 32px;
	padding: 20px;
}   